.add-task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-task input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-task button {
  padding: 10px;
  background-color: rgba(247, 95, 34, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #e6642c;
}
